<app-nav-bar></app-nav-bar>

<div class="container" style="margin-top: 140px;">
  <div class="note-actions">
    <button class="btn btn-primary" routerLink="/notes">View Notes</button>
    <button class="btn btn-primary" routerLink="/note-detail">Get Note</button>
    <button class="btn btn-success" routerLink="/create-note">Create Note</button>
    <button class="btn btn-info" routerLink="/update-note">Update Note</button>
    <button class="btn btn-danger" routerLink="/delete-note">Delete Note</button>
  </div>
<router-outlet></router-outlet>
<app-toast></app-toast>
 </div>
 
