<div class="note-form container">
  <h2 class="form-title">Update Note</h2>
  <div class="mb-3">
    <label for="id" class="form-label">ID:</label>
    <input type="number" class="form-control" id="id" [(ngModel)]="noteId" name="id" required>
    <button class="btn btn-info mt-2" (click)="fetchNote()">Fetch Note</button>
  </div>
  <form (ngSubmit)="updateNote()" class="form-bg p-4 rounded">
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" class="form-control" id="name" [(ngModel)]="note.name" name="name" required placeholder="Enter Note Name">
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" rows="3" [(ngModel)]="note.description" name="description" required placeholder="Enter Note Description"></textarea>
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select class="form-select" id="status" [(ngModel)]="note.status" name="status">
        <option [ngValue]="statusEnum.Complete">Complete</option>
        <option [ngValue]="statusEnum.Incomplete">Incomplete</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="dueDate" class="form-label">Due Date:</label>
      <input type="date" class="form-control" id="dueDate" [(ngModel)]="note.dueDate" name="dueDate">
    </div>
    <button type="submit" class="btn btn-primary">Update Note</button>
  </form>
</div>

<div *ngIf="showErrorToast" 
     [ngClass]="{'success-toast': toastType === 'success', 'error-toast': toastType === 'error'}"
     style="position: fixed; bottom: 20px; left: 200px; padding: 20px; border-radius: 10px; z-index: 1000; min-width: 300px; text-align: center; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); font-size: 16px; color: white;" 
     class="toast-message">
  {{ toastMessage }}
</div>
